In [15]:
from google.cloud import storage

def listar_archivos(bucket_name,prefix):
    client = storage.Client()
    bucket = client.bucket(bucket_name)
    blobs = client.list_blobs(bucket, prefix=prefix)

    return [blob.name for blob in blobs]

a = listar_archivos("banks-transaction",'transactions_part')

type(a)

list

In [16]:
a

['transactions_part_0.csv',
 'transactions_part_1.csv',
 'transactions_part_10.csv',
 'transactions_part_11.csv',
 'transactions_part_12.csv',
 'transactions_part_13.csv',
 'transactions_part_14.csv',
 'transactions_part_15.csv',
 'transactions_part_16.csv',
 'transactions_part_17.csv',
 'transactions_part_18.csv',
 'transactions_part_19.csv',
 'transactions_part_2.csv',
 'transactions_part_20.csv',
 'transactions_part_21.csv',
 'transactions_part_22.csv',
 'transactions_part_23.csv',
 'transactions_part_24.csv',
 'transactions_part_25.csv',
 'transactions_part_26.csv',
 'transactions_part_3.csv',
 'transactions_part_4.csv',
 'transactions_part_5.csv',
 'transactions_part_6.csv',
 'transactions_part_7.csv',
 'transactions_part_8.csv',
 'transactions_part_9.csv']

In [1]:
import os
os.getcwd()
os.chdir('../../')
os.getcwd()

'c:\\Users\\roser\\OneDrive\\Documentos\\fint'

In [2]:
from src.exception.exception import FintechException
from src.logging.logger import logging
from google.cloud import storage
import pandas as pd
from conn import engine
import numpy as np
import gc
from time import sleep
import sys

In [ ]:
class update_db:
    def __init__(self):
        pass

    def listar_archivos(self, bucket_name,prefix):
        client = storage.Client()
        bucket = client.bucket(bucket_name)
        blobs = client.list_blobs(bucket, prefix=prefix)

        return [blob.name for blob in blobs]

    def optimize_dataframe(self,df):
        for col in df.select_dtypes(include=['int64']).columns:
            df[col] = df[col].astype('int32')
        for col in df.select_dtypes(include=['float64']).columns:
            df[col] = df[col].astype('float32')
        return df
    
    def check_bucket(self, bucket_name, file_name):
        client = storage.Client()
        bucket = client.bucket(bucket_name)
        blob = bucket.blob(file_name)

        content = blob.download_as_text()
        df = pd.read_csv(pd.io.common.StringIO(content))

        return df
    
    def add_new_data(self,df):
        try:
        
            df_merchants = df[['merchant_id', "merchant_city", "merchant_state", "zip", "mcc", 'id']]
            df_merchants.rename(columns={ 'id': 'transaction_id'}, inplace=True)

            df['date'] = pd.to_datetime(df['date'], errors='coerce')
            df_dates = df[["date"]].drop_duplicates()
            df_dates['full_date'] = pd.to_datetime(df_dates['date']).dt.date
            df_dates["year"] = df_dates["date"].dt.year
            df_dates["month"] = df_dates["date"].dt.month
            df_dates["day"] = df_dates["date"].dt.day
            df_dates["quarter"] = df_dates["date"].dt.quarter
            df_dates["week_of_year"] = df_dates["date"].dt.isocalendar().week
            df_dates = df_dates.drop_duplicates(subset=['full_date']).reset_index(drop=True)


            df_times = df[["date"]].drop_duplicates()
            df_times['full_time'] = pd.to_datetime(df_times['date']).dt.time
            df_times['hour'] = pd.to_datetime(df_times['date']).dt.hour
            df_times['minute'] = pd.to_datetime(df_times['date']).dt.minute
            df_times['second'] = pd.to_datetime(df_times['date']).dt.second
            df_times = df_times.reset_index(drop=True)
            

            df_transactions = df[[
                "id", "client_id", "card_id", "date", "amount", "use_chip", "errors"
            ]]
            df_transactions['date'] = pd.to_datetime(df_transactions['date'])
            df_transactions['full_date'] = df_transactions['date'].dt.date
            df_transactions['full_time'] = df_transactions['date'].dt.time

            # 游 Optimizaci칩n de DataFrames antes de cargar
            df_merchants = self.optimize_dataframe(df_merchants)
            df_dates = self.optimize_dataframe(df_dates)
            df_times = self.optimize_dataframe(df_times)
            df_transactions = self.optimize_dataframe(df_transactions)
            df_times = df_times.drop_duplicates(subset=['full_time'])

            #df_times['id'] = range(1, len(df_times) + 1)

            df_times = df_times[[ 'full_time', 'hour', 'minute', 'second']]
            merchants = pd.read_sql('select merchant_id from dim_merchants', con=engine)
            time = pd.read_sql('select full_time from dim_time', con=engine)
            date = pd.read_sql('select full_date from dim_date', con=engine)

            df_merchants['merchant_id'] = df_merchants['merchant_id'].astype(int)
            merchants['merchant_id'] = merchants['merchant_id'].astype(int)
            df_merchants = df_merchants.dropna(subset=['merchant_id'])
            merchants = merchants.dropna(subset=['merchant_id'])


            new_merchants = df_merchants[~df_merchants['merchant_id'].isin(merchants['merchant_id'].values)]

            new_time = df_times[~df_times['full_time'].isin(time['full_time'])]
            new_date = df_dates[~df_dates['full_date'].isin(date['full_date'])]

            new_date = new_date.dropna(how='all')
            new_time = new_time.dropna(how='all')

            new_date = new_date[['full_date', 'year', 'month', 'day', 'quarter', 'week_of_year']]
            new_time = new_time[['full_time', 'hour', 'minute', 'second']]

            new_merchants = new_merchants.drop_duplicates(subset=['merchant_id'])

            new_date.to_sql('dim_date',con=engine, if_exists='append',index=False,chunksize=10_000,method='multi')
            new_time.to_sql('dim_time',con=engine, if_exists='append',index=False,chunksize=10_000,method='multi')
            new_merchants.to_sql('dim_merchants',con=engine, if_exists='append',index=False,chunksize=10_000,method='multi')

            merchants = pd.read_sql('select merchant_id from dim_merchants', con=engine)
            time = pd.read_sql('select full_time,id from dim_time', con=engine)
            date = pd.read_sql('select full_date,id from dim_date', con=engine)

            print(date.dtypes)


            #df_times.to_sql('dim_time', con=engine, if_exists='append', index=False, chunksize=10_000, method='multi')
            # 游댠 Procesar en chunks para evitar MemoryError
            chunk_size = 50_000  # Reducido para menor consumo de RAM
            id_counter = 1 
            for chunk in np.array_split(df_transactions, len(df_transactions) // chunk_size + 1):

                #chunk['full_date'] = pd.to_datetime(chunk['full_date'])
                #chunk['full_time'] = pd.to_datetime(chunk['full_time'])

                chunk = chunk.merge(date, on="full_date",how="left")
                
                chunk.rename(columns={"id_y": "date_id"}, inplace=True)

                chunk = chunk.merge(time, on="full_time", how="left")

                chunk.rename(columns={"id": "time_id"}, inplace=True)  # id de df_times

                # 3. Ajustar merchant_id 
                chunk.rename(columns={"id_x": "merchant_id"}, inplace=True)
                chunk['id'] = range(id_counter, id_counter + len(chunk))
                id_counter += len(chunk)  # Actualizar contador global

                chunk = chunk[["id", "client_id", "card_id", "merchant_id", "date_id", "time_id", "amount", "use_chip", "errors"]]

                print(chunk.dtypes)  # Verifica los tipos de datos
                print(chunk.head(3).to_dict())  # Muestra un peque침o ejemplo de los datos

                existing_ids = pd.read_sql("SELECT id FROM fact_transactions", con=engine)

                chunk_new = chunk[~chunk['id'].isin(existing_ids['id'])]

                # Insertar solo los nuevos registros
                chunk_new.to_sql('fact_transactions', con=engine, if_exists='append', index=False, chunksize=10_000, method='multi')

                #sleep(430)
                # Insertar directamente en SQL sin guardar en memoria
                #chunk.to_sql('fact_transactions', con=engine, if_exists='append', index=False, chunksize=10_000, method='multi')

                del chunk
                gc.collect()  # Liberar memoria

            # 游댳 Renombrar columnas correctamente y limpiar datos

        except Exception as e:
            raise FintechException(e,sys)


    def process_df(self):
        users = pd.read_sql('select * from dim_users', con=engine)
        cards = pd.read_sql('select * from dim_cards', con=engine)

        # Obtener archivos en el bucket
        archives = self.listar_archivos("banks-transaction", 'transactions_part')

        # Obtener archivos ya procesados desde la base de datos
        processed_files = pd.read_sql("SELECT DISTINCT file_name FROM processed_files_log", con=engine)

        # Filtrar archivos nuevos
        new_archives = [file for file in archives if file not in processed_files['file_name'].tolist()]

        if new_archives:
            logging.info(f'Total new archives to process: {len(new_archives)}')
            for i, file in enumerate(new_archives, start=1):
                logging.info(f'Processing {i}/{len(new_archives)}: {file}')
                print(file)

                df = pd.read_csv(f'gs://banks-transaction/{file}')
                self.add_new_data(df)

                # Registrar que el archivo fue procesado
                pd.DataFrame([[file]], columns=['file_name']).to_sql(
                    'processed_files_log', con=engine, if_exists='append', index=False
                )

                logging.info(f'Processed {file}')
                sleep(4000)
        else:
            logging.info('No new data to add')

In [ ]:
b = update_db()
b.process_df()

transactions_part_1.csv
full_date    object
id            int64
dtype: object
            id  client_id  card_id                date   amount  \
0      8073849       1962     2126 2010-05-31 07:21:00   $23.52
1      8073850       1963     3364 2010-05-31 07:21:00   $24.93
2      8073851        157      969 2010-05-31 07:22:00    $2.25
3      8073852       1382     1110 2010-05-31 07:22:00  $-97.00
4      8073854       1923     2152 2010-05-31 07:22:00    $3.15
...        ...        ...      ...                 ...      ...
45450  8128311        368     2226 2010-06-13 11:54:00   $53.68
45451  8128312        793     4234 2010-06-13 11:54:00    $0.89
45452  8128313       1144     4141 2010-06-13 11:54:00   $38.56
45453  8128315       1725     3296 2010-06-13 11:54:00   $62.36
45454  8128316       1818     4711 2010-06-13 11:54:00   $77.74

                 use_chip errors   full_date full_time
0       Swipe Transaction    NaN  2010-05-31  07:21:00
1      Online Transaction    NaN  2010-05-31  07:21:00
2       Swipe Transaction    NaN  2010-05-31  07:22:00
3       Swipe Transaction    NaN  2010-05-31  07:22:00
4       Swipe Transaction    NaN  2010-05-31  07:22:00
...                   ...    ...         ...       ...
45450  Online Transaction    NaN  2010-06-13  11:54:00
45451   Swipe Transaction    NaN  2010-06-13  11:54:00
45452   Swipe Transaction    NaN  2010-06-13  11:54:00
45453  Online Transaction    NaN  2010-06-13  11:54:00
45454   Swipe Transaction    NaN  2010-06-13  11:54:00

[45455 rows x 9 columns]
id_x                  int32
client_id             int32
card_id               int32
date         datetime64[ns]
amount               object
use_chip             object
errors               object
full_date            object
full_time            object
date_id               int64
dtype: object
id              int64
client_id       int32
card_id         int32
merchant_id     int32
date_id         int64
time_id         int64
amount         object
use_chip       object
errors         object
dtype: object
{'id': {0: 1, 1: 2, 2: 3}, 'client_id': {0: 1962, 1: 1963, 2: 157}, 'card_id': {0: 2126, 1: 3364, 2: 969}, 'merchant_id': {0: 8073849, 1: 8073850, 2: 8073851}, 'date_id': {0: 152, 1: 152, 2: 152}, 'time_id': {0: 231, 1: 231, 2: 232}, 'amount': {0: '$23.52', 1: '$24.93', 2: '$2.25'}, 'use_chip': {0: 'Swipe Transaction', 1: 'Online Transaction', 2: 'Swipe Transaction'}, 'errors': {0: nan, 1: nan, 2: nan}}
            id  client_id  card_id                date   amount  \
45455  8128317       1459      177 2010-06-13 11:55:00   $32.25
45456  8128318       1962     3371 2010-06-13 11:55:00  $144.06
45457  8128319         79     2931 2010-06-13 11:56:00    $0.10
45458  8128321        744     4158 2010-06-13 11:56:00    $7.74
45459  8128322       1558     3750 2010-06-13 11:56:00   $75.12
...        ...        ...      ...                 ...      ...
90905  8182817        142     1046 2010-06-26 18:03:00   $32.91
90906  8182818       1190     1201 2010-06-26 18:03:00   $10.24
90907  8182819       1207     5805 2010-06-26 18:03:00  $140.00
90908  8182820        379     2019 2010-06-26 18:05:00   $27.66
90909  8182821       1569     4109 2010-06-26 18:06:00   $17.08

                 use_chip errors   full_date full_time
45455   Swipe Transaction    NaN  2010-06-13  11:55:00
45456   Swipe Transaction    NaN  2010-06-13  11:55:00
45457  Online Transaction    NaN  2010-06-13  11:56:00
45458   Swipe Transaction    NaN  2010-06-13  11:56:00
45459  Online Transaction    NaN  2010-06-13  11:56:00
...                   ...    ...         ...       ...
90905   Swipe Transaction    NaN  2010-06-26  18:03:00
90906   Swipe Transaction    NaN  2010-06-26  18:03:00
90907   Swipe Transaction    NaN  2010-06-26  18:03:00
90908   Swipe Transaction    NaN  2010-06-26  18:05:00
90909   Swipe Transaction    NaN  2010-06-26  18:06:00

[45455 rows x 9 columns]
id_x                  int32
client_id             int32
card_id               int32
date         datetime64[ns]
amount               object
use_chip             object
errors               object
full_date            object
full_time            object
date_id               int64
dtype: object
id              int64
client_id       int32
card_id         int32
merchant_id     int32
date_id         int64
time_id         int64
amount         object
use_chip       object
errors         object
dtype: object
{'id': {0: 45456, 1: 45457, 2: 45458}, 'client_id': {0: 1459, 1: 1962, 2: 79}, 'card_id': {0: 177, 1: 3371, 2: 2931}, 'merchant_id': {0: 8128317, 1: 8128318, 2: 8128319}, 'date_id': {0: 165, 1: 165, 2: 165}, 'time_id': {0: 497, 1: 497, 2: 498}, 'amount': {0: '$32.25', 1: '$144.06', 2: '$0.10'}, 'use_chip': {0: 'Swipe Transaction', 1: 'Swipe Transaction', 2: 'Online Transaction'}, 'errors': {0: nan, 1: nan, 2: nan}}
             id  client_id  card_id                date   amount  \
90910   8182822        114     3070 2010-06-26 18:07:00   $23.35
90911   8182824        165     5146 2010-06-26 18:08:00  $109.79
90912   8182825        646     2093 2010-06-26 18:08:00   $32.62
90913   8182826        655     4134 2010-06-26 18:08:00   $20.00
90914   8182828        348     2977 2010-06-26 18:10:00   $20.00
...         ...        ...      ...                 ...      ...
136360  8237095         87      109 2010-07-09 21:46:00   $20.00
136361  8237096        683     4279 2010-07-09 21:46:00   $45.96
136362  8237097       1217     1210 2010-07-09 21:46:00   $47.59
136363  8237098         68     4648 2010-07-09 21:47:00   $21.80
136364  8237099        368     2226 2010-07-09 21:48:00    $0.16

                 use_chip errors   full_date full_time
90910   Swipe Transaction    NaN  2010-06-26  18:07:00
90911   Swipe Transaction    NaN  2010-06-26  18:08:00
90912   Swipe Transaction    NaN  2010-06-26  18:08:00
90913   Swipe Transaction    NaN  2010-06-26  18:08:00
90914   Swipe Transaction    NaN  2010-06-26  18:10:00
...                   ...    ...         ...       ...
136360  Swipe Transaction    NaN  2010-07-09  21:46:00
136361  Swipe Transaction    NaN  2010-07-09  21:46:00
136362  Swipe Transaction    NaN  2010-07-09  21:46:00
136363  Swipe Transaction    NaN  2010-07-09  21:47:00
136364  Swipe Transaction    NaN  2010-07-09  21:48:00

[45455 rows x 9 columns]
id_x                  int32
client_id             int32
card_id               int32
date         datetime64[ns]
amount               object
use_chip             object
errors               object
full_date            object
full_time            object
date_id               int64
dtype: object
id              int64
client_id       int32
card_id         int32
merchant_id     int32
date_id         int64
time_id         int64
amount         object
use_chip       object
errors         object
dtype: object
{'id': {0: 90911, 1: 90912, 2: 90913}, 'client_id': {0: 114, 1: 165, 2: 646}, 'card_id': {0: 3070, 1: 5146, 2: 2093}, 'merchant_id': {0: 8182822, 1: 8182824, 2: 8182825}, 'date_id': {0: 178, 1: 178, 2: 178}, 'time_id': {0: 860, 1: 861, 2: 861}, 'amount': {0: '$23.35', 1: '$109.79', 2: '$32.62'}, 'use_chip': {0: 'Swipe Transaction', 1: 'Swipe Transaction', 2: 'Swipe Transaction'}, 'errors': {0: nan, 1: nan, 2: nan}}
             id  client_id  card_id                date   amount  \
136365  8237100        511      974 2010-07-09 21:48:00   $23.49
136366  8237101        428     3842 2010-07-09 21:50:00   $39.96
136367  8237102        470     3733 2010-07-09 21:50:00    $2.87
136368  8237103        528     5161 2010-07-09 21:50:00   $15.17
136369  8237104        592     2022 2010-07-09 21:51:00   $35.24
...         ...        ...      ...                 ...      ...
181815  8291617       1288     1013 2010-07-23 07:23:00    $1.04
181816  8291618       1885     2435 2010-07-23 07:23:00  $-79.00
181817  8291619        217     5448 2010-07-23 07:24:00   $33.52
181818  8291620        940     3726 2010-07-23 07:24:00   $56.39
181819  8291621       1616     4734 2010-07-23 07:24:00  $-95.00

                 use_chip errors   full_date full_time
136365  Swipe Transaction    NaN  2010-07-09  21:48:00
136366  Swipe Transaction    NaN  2010-07-09  21:50:00
136367  Swipe Transaction    NaN  2010-07-09  21:50:00
136368  Swipe Transaction    NaN  2010-07-09  21:50:00
136369  Swipe Transaction    NaN  2010-07-09  21:51:00
...                   ...    ...         ...       ...
181815  Swipe Transaction    NaN  2010-07-23  07:23:00
181816  Swipe Transaction    NaN  2010-07-23  07:23:00
181817  Swipe Transaction    NaN  2010-07-23  07:24:00
181818  Swipe Transaction    NaN  2010-07-23  07:24:00
181819  Swipe Transaction    NaN  2010-07-23  07:24:00

[45455 rows x 9 columns]
id_x                  int32
client_id             int32
card_id               int32
date         datetime64[ns]
amount               object
use_chip             object
errors               object
full_date            object
full_time            object
date_id               int64
dtype: object
id              int64
client_id       int32
card_id         int32
merchant_id     int32
date_id         int64
time_id         int64
amount         object
use_chip       object
errors         object
dtype: object
{'id': {0: 136366, 1: 136367, 2: 136368}, 'client_id': {0: 511, 1: 428, 2: 470}, 'card_id': {0: 974, 1: 3842, 2: 3733}, 'merchant_id': {0: 8237100, 1: 8237101, 2: 8237102}, 'date_id': {0: 191, 1: 191, 2: 191}, 'time_id': {0: 1058, 1: 1060, 2: 1060}, 'amount': {0: '$23.49', 1: '$39.96', 2: '$2.87'}, 'use_chip': {0: 'Swipe Transaction', 1: 'Swipe Transaction', 2: 'Swipe Transaction'}, 'errors': {0: nan, 1: nan, 2: nan}}
             id  client_id  card_id                date   amount  \
181820  8291622       1642     3506 2010-07-23 07:24:00   $58.48
181821  8291624        442      141 2010-07-23 07:25:00   $30.21
181822  8291625       1077     2539 2010-07-23 07:25:00    $1.33
181823  8291626       1712     3291 2010-07-23 07:25:00    $9.15
181824  8291627        145     5521 2010-07-23 07:26:00   $18.37
...         ...        ...      ...                 ...      ...
227270  8346352       1391     5129 2010-08-05 10:29:00   $25.87
227271  8346353       1535      187 2010-08-05 10:29:00   $91.00
227272  8346354       1581     5541 2010-08-05 10:29:00   $14.49
227273  8346355        447     3865 2010-08-05 10:30:00   $26.92
227274  8346357        323     2467 2010-08-05 10:31:00  $148.43

                  use_chip   errors   full_date full_time
181820   Swipe Transaction      NaN  2010-07-23  07:24:00
181821   Swipe Transaction      NaN  2010-07-23  07:25:00
181822   Swipe Transaction  Bad PIN  2010-07-23  07:25:00
181823   Swipe Transaction      NaN  2010-07-23  07:25:00
181824   Swipe Transaction      NaN  2010-07-23  07:26:00
...                    ...      ...         ...       ...
227270  Online Transaction      NaN  2010-08-05  10:29:00
227271   Swipe Transaction      NaN  2010-08-05  10:29:00
227272   Swipe Transaction      NaN  2010-08-05  10:29:00
227273   Swipe Transaction      NaN  2010-08-05  10:30:00
227274   Swipe Transaction      NaN  2010-08-05  10:31:00

[45455 rows x 9 columns]
id_x                  int32
client_id             int32
card_id               int32
date         datetime64[ns]
amount               object
use_chip             object
errors               object
full_date            object
full_time            object
date_id               int64
dtype: object
id              int64
client_id       int32
card_id         int32
merchant_id     int32
date_id         int64
time_id         int64
amount         object
use_chip       object
errors         object
dtype: object
{'id': {0: 181821, 1: 181822, 2: 181823}, 'client_id': {0: 1642, 1: 442, 2: 1077}, 'card_id': {0: 3506, 1: 141, 2: 2539}, 'merchant_id': {0: 8291622, 1: 8291624, 2: 8291625}, 'date_id': {0: 205, 1: 205, 2: 205}, 'time_id': {0: 234, 1: 235, 2: 235}, 'amount': {0: '$58.48', 1: '$30.21', 2: '$1.33'}, 'use_chip': {0: 'Swipe Transaction', 1: 'Swipe Transaction', 2: 'Swipe Transaction'}, 'errors': {0: nan, 1: nan, 2: 'Bad PIN'}}
             id  client_id  card_id                date   amount  \
227275  8346358        433     3868 2010-08-05 10:31:00   $87.84
227276  8346359        634     2272 2010-08-05 10:31:00    $1.98
227277  8346360        814     4536 2010-08-05 10:31:00    $3.92
227278  8346361        891     2141 2010-08-05 10:31:00    $7.53
227279  8346363       1983     2653 2010-08-05 10:31:00   $11.72
...         ...        ...      ...                 ...      ...
272725  8400910       1413     1104 2010-08-18 12:41:00   $10.35
272726  8400911        156     4604 2010-08-18 12:42:00   $10.28
272727  8400912        208     4980 2010-08-18 12:42:00  $-96.00
272728  8400913        442      112 2010-08-18 12:42:00  $218.25
272729  8400914        720     2516 2010-08-18 12:42:00   $37.83

                  use_chip errors   full_date full_time
227275   Swipe Transaction    NaN  2010-08-05  10:31:00
227276  Online Transaction    NaN  2010-08-05  10:31:00
227277   Swipe Transaction    NaN  2010-08-05  10:31:00
227278   Swipe Transaction    NaN  2010-08-05  10:31:00
227279   Swipe Transaction    NaN  2010-08-05  10:31:00
...                    ...    ...         ...       ...
272725   Swipe Transaction    NaN  2010-08-18  12:41:00
272726   Swipe Transaction    NaN  2010-08-18  12:42:00
272727   Swipe Transaction    NaN  2010-08-18  12:42:00
272728  Online Transaction    NaN  2010-08-18  12:42:00
272729   Swipe Transaction    NaN  2010-08-18  12:42:00

[45455 rows x 9 columns]
id_x                  int32
client_id             int32
card_id               int32
date         datetime64[ns]
amount               object
use_chip             object
errors               object
full_date            object
full_time            object
date_id               int64
dtype: object
id              int64
client_id       int32
card_id         int32
merchant_id     int32
date_id         int64
time_id         int64
amount         object
use_chip       object
errors         object
dtype: object
{'id': {0: 227276, 1: 227277, 2: 227278}, 'client_id': {0: 433, 1: 634, 2: 814}, 'card_id': {0: 3868, 1: 2272, 2: 4536}, 'merchant_id': {0: 8346358, 1: 8346359, 2: 8346360}, 'date_id': {0: 218, 1: 218, 2: 218}, 'time_id': {0: 414, 1: 414, 2: 414}, 'amount': {0: '$87.84', 1: '$1.98', 2: '$3.92'}, 'use_chip': {0: 'Swipe Transaction', 1: 'Online Transaction', 2: 'Swipe Transaction'}, 'errors': {0: nan, 1: nan, 2: nan}}
             id  client_id  card_id                date  amount  \
272730  8400916       1261     4121 2010-08-18 12:42:00  $14.53
272731  8400918       1595     2429 2010-08-18 12:42:00  $12.08
272732  8400920       1719     3052 2010-08-18 12:42:00   $4.56
272733  8400921        732       46 2010-08-18 12:43:00  $50.65
272734  8400922       1617      157 2010-08-18 12:43:00  $13.47
...         ...        ...      ...                 ...     ...
318179  8455610       1008     2592 2010-08-31 15:37:00   $3.17
318180  8455611       1083     3710 2010-08-31 15:37:00  $19.94
318181  8455612       1604     2950 2010-08-31 15:37:00  $84.00
318182  8455613        649      251 2010-08-31 15:38:00   $1.82
318183  8455614       1403     2830 2010-08-31 15:38:00  $93.12

                 use_chip errors   full_date full_time
272730  Swipe Transaction    NaN  2010-08-18  12:42:00
272731  Swipe Transaction    NaN  2010-08-18  12:42:00
272732  Swipe Transaction    NaN  2010-08-18  12:42:00
272733  Swipe Transaction    NaN  2010-08-18  12:43:00
272734  Swipe Transaction    NaN  2010-08-18  12:43:00
...                   ...    ...         ...       ...
318179  Swipe Transaction    NaN  2010-08-31  15:37:00
318180  Swipe Transaction    NaN  2010-08-31  15:37:00
318181  Swipe Transaction    NaN  2010-08-31  15:37:00
318182  Swipe Transaction    NaN  2010-08-31  15:38:00
318183  Swipe Transaction    NaN  2010-08-31  15:38:00

[45454 rows x 9 columns]
id_x                  int32
client_id             int32
card_id               int32
date         datetime64[ns]
amount               object
use_chip             object
errors               object
full_date            object
full_time            object
date_id               int64
dtype: object
id              int64
client_id       int32
card_id         int32
merchant_id     int32
date_id         int64
time_id         int64
amount         object
use_chip       object
errors         object
dtype: object
{'id': {0: 272731, 1: 272732, 2: 272733}, 'client_id': {0: 1261, 1: 1595, 2: 1719}, 'card_id': {0: 4121, 1: 2429, 2: 3052}, 'merchant_id': {0: 8400916, 1: 8400918, 2: 8400920}, 'date_id': {0: 231, 1: 231, 2: 231}, 'time_id': {0: 544, 1: 544, 2: 544}, 'amount': {0: '$14.53', 1: '$12.08', 2: '$4.56'}, 'use_chip': {0: 'Swipe Transaction', 1: 'Swipe Transaction', 2: 'Swipe Transaction'}, 'errors': {0: nan, 1: nan, 2: nan}}
             id  client_id  card_id                date   amount  \
318184  8455615       1741     5465 2010-08-31 15:38:00  $104.66
318185  8455617        209     5575 2010-08-31 15:39:00   $15.30
318186  8455618        530     5110 2010-08-31 15:39:00   $28.22
318187  8455619        848     5423 2010-08-31 15:39:00  $119.73
318188  8455620       1058     4502 2010-08-31 15:39:00   $39.18
...         ...        ...      ...                 ...      ...
363633  8510335       1466     5884 2010-09-13 19:59:00   $16.85
363634  8510336       1944       33 2010-09-13 19:59:00   $55.43
363635  8510337       1236       85 2010-09-13 20:01:00   $21.51
363636  8510338       1237     5163 2010-09-13 20:01:00   $40.13
363637  8510339       1759     4232 2010-09-13 20:03:00  $107.57

                  use_chip errors   full_date full_time
318184   Swipe Transaction    NaN  2010-08-31  15:38:00
318185   Swipe Transaction    NaN  2010-08-31  15:39:00
318186   Swipe Transaction    NaN  2010-08-31  15:39:00
318187   Swipe Transaction    NaN  2010-08-31  15:39:00
318188  Online Transaction    NaN  2010-08-31  15:39:00
...                    ...    ...         ...       ...
363633  Online Transaction    NaN  2010-09-13  19:59:00
363634   Swipe Transaction    NaN  2010-09-13  19:59:00
363635   Swipe Transaction    NaN  2010-09-13  20:01:00
363636  Online Transaction    NaN  2010-09-13  20:01:00
363637   Swipe Transaction    NaN  2010-09-13  20:03:00

[45454 rows x 9 columns]
id_x                  int32
client_id             int32
card_id               int32
date         datetime64[ns]
amount               object
use_chip             object
errors               object
full_date            object
full_time            object
date_id               int64
dtype: object
id              int64
client_id       int32
card_id         int32
merchant_id     int32
date_id         int64
time_id         int64
amount         object
use_chip       object
errors         object
dtype: object
{'id': {0: 318185, 1: 318186, 2: 318187}, 'client_id': {0: 1741, 1: 209, 2: 530}, 'card_id': {0: 5465, 1: 5575, 2: 5110}, 'merchant_id': {0: 8455615, 1: 8455617, 2: 8455618}, 'date_id': {0: 244, 1: 244, 2: 244}, 'time_id': {0: 720, 1: 721, 2: 721}, 'amount': {0: '$104.66', 1: '$15.30', 2: '$28.22'}, 'use_chip': {0: 'Swipe Transaction', 1: 'Swipe Transaction', 2: 'Swipe Transaction'}, 'errors': {0: nan, 1: nan, 2: nan}}
             id  client_id  card_id                date  amount  \
363638  8510340       1904     2575 2010-09-13 20:03:00  $98.00
363639  8510341        369     2982 2010-09-13 20:05:00  $77.43
363640  8510342        679     5972 2010-09-13 20:05:00  $11.69
363641  8510346        576     5400 2010-09-13 20:08:00  $48.28
363642  8510349       1391     4107 2010-09-13 20:10:00  $46.81
...         ...        ...      ...                 ...     ...
409087  8565022       1456     2211 2010-09-27 05:45:00  $49.43
409088  8565023        891     4649 2010-09-27 05:46:00  $47.48
409089  8565024       1629     4290 2010-09-27 05:47:00  $24.09
409090  8565027        615     5479 2010-09-27 05:54:00   $3.75

In [ ]:
        # 游댳 Extracci칩n de dimensiones optimizadas
        
        df_cards = df['cards'].dataframes[[
            "id", "client_id", "card_brand", "card_type", "has_chip", 
            "num_cards_issued", "credit_limit", "acct_open_date", 
            "year_pin_last_changed", "card_on_dark_web"
        ]]

        df_merchants = df['transactions'].dataframes[['merchant_id', "merchant_city", "merchant_state", "zip", "mcc", 'id']]
        df_merchants.rename(columns={'merchant_id': 'id', 'id': 'transaction_id'}, inplace=True)
        

        df_dates = df['transactions'].dataframes[["date"]].drop_duplicates()
        df_dates['full_date'] = pd.to_datetime(df_dates['date']).dt.date
        df_dates["year"] = df_dates["date"].dt.year
        df_dates["month"] = df_dates["date"].dt.month
        df_dates["day"] = df_dates["date"].dt.day
        df_dates["quarter"] = df_dates["date"].dt.quarter
        df_dates["week_of_year"] = df_dates["date"].dt.isocalendar().week
        df_dates = df_dates.drop_duplicates(subset=['full_date']).reset_index(drop=True)
        df_dates['id'] = range(1, len(df_dates) + 1)

        df_times = df['transactions'].dataframes[["date"]].drop_duplicates()
        df_times['full_time'] = pd.to_datetime(df_times['date']).dt.time
        df_times['hour'] = pd.to_datetime(df_times['date']).dt.hour
        df_times['minute'] = pd.to_datetime(df_times['date']).dt.minute
        df_times['second'] = pd.to_datetime(df_times['date']).dt.second
        df_times = df_times.reset_index(drop=True)
        

        df_transactions = df['transactions'].dataframes[[
            "id", "client_id", "card_id", "date", "amount", "use_chip", "errors"
        ]]
        df_transactions['date'] = pd.to_datetime(df_transactions['date'])
        df_transactions['full_date'] = df_transactions['date'].dt.date
        df_transactions['full_time'] = df_transactions['date'].dt.time

        # 游 Optimizaci칩n de DataFrames antes de cargar
        df_users = self.optimize_dataframe(df_users)
        df_cards = self.optimize_dataframe(df_cards)
        df_merchants = self.optimize_dataframe(df_merchants)
        df_dates = self.optimize_dataframe(df_dates)
        df_times = self.optimize_dataframe(df_times)
        df_transactions = self.optimize_dataframe(df_transactions)
        df_times = df_times.drop_duplicates(subset=['full_time'])

        df_times['id'] = range(1, len(df_times) + 1)

        df_times = df_times[['id', 'full_time', 'hour', 'minute', 'second']]

        #df_times.to_sql('dim_time', con=engine, if_exists='append', index=False, chunksize=10_000, method='multi')
        # 游댠 Procesar en chunks para evitar MemoryError
        chunk_size = 50_000  # Reducido para menor consumo de RAM
        id_counter = 1 
        for chunk in np.array_split(df_transactions, len(df_transactions) // chunk_size + 1):
            chunk = chunk.merge(df_dates, on="full_date", how="left")
            chunk.rename(columns={"id_y": "date_id"}, inplace=True)
            chunk = chunk.merge(df_times, on="full_time", how="left")


            chunk.rename(columns={"id": "time_id"}, inplace=True)  # id de df_times

            # 3. Ajustar merchant_id 
            chunk.rename(columns={"id_x": "merchant_id"}, inplace=True)
            chunk['id'] = range(id_counter, id_counter + len(chunk))
            id_counter += len(chunk)  # Actualizar contador global
            print(chunk.dtypes)  # Verifica los tipos de datos
            print(chunk.head(3).to_dict())  # Muestra un peque침o ejemplo de los datos
            chunk = chunk[["id", "client_id", "card_id", "merchant_id", "date_id", "time_id", "amount", "use_chip", "errors"]]

            print(chunk.dtypes)  # Verifica los tipos de datos
            print(chunk.head(3).to_dict())  # Muestra un peque침o ejemplo de los datos

            existing_ids = pd.read_sql("SELECT id FROM fact_transactions", con=engine)

            chunk_new = chunk[~chunk['id'].isin(existing_ids['id'])]

            # Insertar solo los nuevos registros
            chunk_new.to_sql('fact_transactions', con=engine, if_exists='append', index=False, chunksize=10_000, method='multi')

            #sleep(430)
            # Insertar directamente en SQL sin guardar en memoria
            #chunk.to_sql('fact_transactions', con=engine, if_exists='append', index=False, chunksize=10_000, method='multi')

            del chunk
            gc.collect()  # Liberar memoria

        # 游댳 Renombrar columnas correctamente y limpiar datos
        df_dates = df_dates[['id', 'full_date', 'year', 'month', 'day', 'quarter', 'week_of_year']]
        df_times = df_times[['id', 'full_time', 'hour', 'minute', 'second']]

        # 游댠 Carga de datos en SQL en chunks m치s peque침os
        try:
            #df_dates.to_sql('dim_date', con=engine, if_exists='append', index=False, chunksize=10_000, method='multi')
            #df_times.to_sql('dim_time', con=engine, if_exists='append', index=False, chunksize=10_000, method='multi')
            return {
                "users": df_users,
                "cards": df_cards,
                "merchants": df_merchants,
                "dates": df_dates,
                "times": df_times,
                "transactions": df_transactions
            }
        except Exception as e:
            logging.error(f"Error en la ejecuci칩n de la consulta: {e}", exc_info=True)
            raise FintechException(e, sys)